<!DOCTYPE html>
<html>
	<head>
		<title>Forum</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
			<div class="container-fluid">
				<div class="row bg-info">
					<div class="col-md-7">
						<h1>
							<a href="/"><i class="fa fa-sitemap"></i></a> A better forum
						</h1>
					</div>
					<div class="col-md-5">
						<div class="pull-right login-controls">
							<!-- if user is not logged in -->
							<form id="login-form" class="form-inline" <% if !@displayname.blank? %>style="display: none;"<% end %>  role="form">
								<div id="login-data" class="form-group">
									<input type="email" class="form-control" id="login-username" placeholder="Email" >
									<input type="password" class="form-control password" id="login-password" placeholder="Password">
								</div>
								<button type="button" class="login-link btn btn-primary">Log in</button> or 
								<a data-toggle="modal" href="/users/new" data-target="#signup-modal">Sign up</a> 
							</form>
							<!-- if user logged in -->
							<div id="login-success" <% if @displayname.blank? %>style="display: none;"<% end %>>
								Welcome, <span class="displayname"><%= @displayname %></span>
								<a href="#" class="signout-link">Sign out</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Sign up modal -->
		<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>
							Sign up!
						</h4>
					</div>
					<div class="modal-body">
						<div class="te"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Create Account</button>
					</div>
				</div>
			</div>
		</div>

		<%= yield %>

	</body>
</html>
